%h1 Usuários
%table
  %thead
    %tr
      %th Email
      %th{:colspan => "3"}
  %tbody
    - @users.each do |user|
      %tr
        %td= user.email
        %td= link_to 'Detalhes', user
        %td= link_to 'Editar', edit_user_path(user)
        %td= link_to 'Deletar', user, method: :delete, data: { confirm: 'Tem certeza?' }
%br/
